*{
	margin: 0;
	padding: 0;

}

html{
	background-color: #B0A885;
	overflow-wrap: break-word;


}

body{
	overflow-x: hidden;
	
}

:root{
	font-size: 16px;
}

h5{
	font-size: 1.8rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
 h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.3rem;
	font-weight: 700;
	color: #B0A885;
}

 h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.3rem;
	font-weight: 700;
	color: #B0A885;
}

h6{
	font-family: 'Roboto', sans-serif;
	letter-spacing: .1em;
}

p{
	font-size: 1rem;
	
	font-family: 'Roboto', sans-serif;
	line-height: 1.7em;
}

h3{
	font-family: 'Montserrat', sans-serif;
	
	font-weight: 700;
	line-height: 1em;
}

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-decoration: none;
}

button{
	transition: .3s;
}

button:hover{
	transform: scale(1.05);
	transition: .3s;
}



body.model-open{
	overflow: hidden;
}
/*OBL*/
.obl{
	height: 100vh;
	background-image: url(../img/obl-fon.svg);
	background-position: center;
	background-size: cover;
}

.obl-teh{
	display: flex;
	align-items: center;
	max-width: 1200px;
	height: 70vh;
	top: 5em;
	margin: auto;
	position: relative;
}

.obl-foto{
	width: 80%;
	height: 80%;
	right: 10%;
	background-image: url(../img/obl-foto1.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
	z-index: 3;
	transition: all 1.5s ease 0s;
	transform: translateY(-100%);
	opacity: 0;

}

.obl-foto._active{
	transform: translateY(0%);
	opacity: 1;
}

.obl-pol1{
	width: 20%;
	height: 100%;
	position: absolute;
	z-index: 2;
	right: 0;
	background-color: #B0A885;
	transition: all 1.5s ease 0s;
	transform: translateX(-100%);
	opacity: 0;
}

.obl-pol1._active{
	transform: translateX(0%);
	opacity: 1;
}

.obl-pol2{
	width: 35%;
	padding: 1em;
	background-color: #fff;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 1em;
	transition: all 1.5s ease 0s;
	transform: translateX(100%);
	opacity: 0;
}

.obl-pol2._active{
	transform: translateX(0%);
	opacity: 1;
}

.obl-pol2 h5{
	
	margin-bottom: .5em;
}

.obl-pol2 h1{
	width: 80%;
}

/*SECTION1*/
.section1{
	background-color: #B0A885;
}

.sec1-teh{
	padding: 4em;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: auto;	
}

.sec1-card1{
	width: 29%;
}

.sec1-teh h3{
	color: white;
	font-size: 3rem;
	margin-bottom: .5em;
}

.sec1-teh p{
	font-weight: 300;
	color: white;
}

.sec1-card2{
	width: 18%;
}

.sec1-card2 h3{
	font-size: 1.6rem;
	line-height: 1.2em;
}

/*SECTION2*/
.section2{
	padding: 5em 0;
	background-image: url(../img/sec2-fon.svg);
	background-position: center;
	background-size: cover;
}

.sec2-teh{
	padding: 0 1em;
	max-width: 1200px;
	margin: auto;
}

.sec2-header{
	margin-bottom: 5em;
}

.sec2-header h2{
	text-align: center;
	margin-bottom: .4em;
}

.sec2-header p{
	text-align: center;
	font-size: 1.1rem;
}

.sec2-cont1{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
	margin: auto;
	margin-bottom: 2em;
}

.sec2-cont2{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
	margin: auto;
	margin-bottom: 8em;
}

.sec2-teh img{
	width: 29%;
	height: 400px;

}

.sec2-text1{
	width: 23%;
	padding: 2em 1.5em;
	background-color: black;
	text-align: center;
	color: white;
}

.sec2-teh h3{
	line-height: 1.2em;
	font-size: 1.8rem;
	margin-bottom: 1em;
}

.sec2-teh p{
	margin-bottom: 1em;
}

.sec2-text1 p{
	color: #C0C0C0;
}

.sec2-text2{
	width: 23%;
	padding: 2em 1.5em;
	background-color: white;
	text-align: center;
}

.sec2-text1 a{
	padding: 0.3em;
	border-bottom: 1px solid red;
	color: white;
}
.sec2-text2 a{
	padding: 0.3em;
	border-bottom: 1px solid red;
	color: black;
}

.sec2-teh button{
	cursor: pointer;
	border: none;
	font-size: 1.2em;
	padding:1em 2em;
	background-color: #B0A885;
	border-radius: 2em;
	color: white;
}

/*SECTION3*/
.section3{
	padding: 4em 0;
	background-color: #B0A885;
}

.sec3-teh{
	padding: 0 3em;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.sec3-text1{
	width: 40%;

}

.sec3-text1 h2{
	font-size: 3rem;
	margin-bottom: .5em;
	color: #DFDBCA;
}

.sec3-pol{
	height: 10px;
	background-color: #C1B99E;
	margin-bottom: 1.5em;
}

.sec3-text1 p{
	font-size: 1em;
	color: white;
}

.sec3-text2{
	padding: 2em;
	width: 40%;
	background-color: #fff;
	position: relative;
}

.sec3-text2 img{
	width: 30%;
	margin-left: 70%;
}

.sec3-text2 p{
	width: 88%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: black;
	margin-top: -13%;
}

/*SECTION4*/
.section4{
	padding: 8em 0;
	background-image: url(../img/sec4-fon.svg);
	background-position: center;
	background-size: cover;
}

.sec4-teh{
	max-width: 1200px;
	height: 750px;
	position: relative;
	margin: auto;
	
}

.sec4-pol1{
	width: 90%;
	height: 35%;
	background-color: #B0A885;
	position: absolute;
	z-index: 2;
	left: 5%;
	bottom: 6em;
	transition: all 1s ease 0s;
	transform: translateX(5%);
	opacity: 0;
}

.sec4-pol1._active{
	transform: translateX(0%);
	opacity: 1;
}

.sec4-teh img{
	width: 80%;
	height: 75%;
	margin-left: 10%;
	position: absolute;
	z-index: 3;
	transition: all 1.5s ease 0s;
	transform: translateY(-30%);
	opacity: 0;
}

.sec4-teh img._active{
	transform: translatey( 0%);
	opacity: 1;
}

.sec4-pol2{
	text-align: center;
	padding: 2em;
	width: 58%;
	background-color: white;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 18.5%;
	box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 15%);
	transition: all 1.5s ease 0s;
	transform: translateY(20%);
	opacity: 0;
}

.sec4-pol2._active{
	transform: translatey(0%);
	opacity: 1;
}

.sec4-pol2 h5{
	font-size: 1.5rem;
}

/*SECTION5*/
.section5{
	padding: 3em 0 ;
	background-color: #E5E5E5;
}
.sec5-teh{
	padding: 0 2em;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}

.sec5-teh img{
	width: 50%;
	height: 45%;
	margin-bottom: 1.6em;
}

.sec5-fotos {
	width: 45%;
}

.sec5-fotos img{
	width: 80%;
	height: 72%;
	border-radius: 100%;
	position: relative;
	z-index: 3;
	transform: translatey(-90%);

}

.sec5-dop1{
	background-image: url(../img/sec5-dop1.png);
	width: 80%;
	height: 75%;
	position: relative;
	z-index: 2;
	transform: translatex(20%);

}

.sec5-thag{
	width: 45%;
}

.sec5-thag h2{
	margin-bottom: .4em;
}

.sec5-teh p{
	font-size: 1.1rem;
	font-weight: 300;
}


.sec5-text1{
	width: 45%;
}

.sec5-text1 p{
	margin-bottom: 4em;
}

.sec5-text1 button{
	cursor: pointer;
	border: none;
	font-size: 1.2em;
	padding:1em 4em;
	background-color: #B0A885;
	border-radius: 2em;
	color: white;
}

/*SECTION6*/
.section6{
	background-color: #B0A885;
	padding: 3em 0;
}

.sec6-teh{
	max-width: 1200px;
	margin: auto;
	padding: 0 2em;

}

.sec6-teh header h2{
	text-align: center;
	margin-bottom: 1em;
	color: #DFDBCA;

}

.sec6-conts{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 6em;
}

.sec6-conts h2{
	margin-bottom: .4em;
	color: #DFDBCA;
}

.sec6-conts h6{
	
	font-size: 1.5rem;
	color: white;
	margin-bottom: 1em;
	
}

.sec6-conts p{
	color: white;
	font-size: 1.05rem;

}

.sec6-cont1{
	width: 48%;
	text-align: right;
}
.sec6-cont2{
	width: 48%;
	text-align: left;
}

.sec6-teh button{
	cursor: pointer;
	border:none;
	font-size: 1.2em;
	padding:1em 3em;
	border-radius: 2em;
	background-color: white;
	color: #B0A885;
}

/*SECTION7*/
.section7{
	background-color: #B0A885;
	padding: 3em 0;
	height: 100vh;
}

.sec7-teh{
	max-width: 1200px;
	height: 670px;
	margin: auto;
	padding: 0 2em;
	position: relative;
}
.sec7-teh header{
	margin-top: 2em;
}
.sec7-teh header h2{
	text-align: center;
	margin-bottom: .3em;
	color: #DFDBCA;
}

.sec7-teh header p{
	margin: auto;
	text-align: center;
	width: 60%;
	color: #DFDBCA;
	font-size: 1.3rem;
}

.sec7-cont1{
	max-width: 1100px;
	position: relative;
	padding: 3em 0;
	margin: auto;
}

.sec7-cards{
	width: 80%;
	position: relative;
	z-index: 2;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateX(15%);
	opacity: 0;
  	transition: all 1s ease 0s;
}

.sec7-cards._active{
	transform: translateX(0); 
	opacity: 1;
}


.sec7-card{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 23.5%;
	height: 200px;
	background-color: #fff;
}
.sec7-ob{
	overflow-wrap: break-word;
}
.sec7-card h6{
	color: #666666;
	line-height: 1.5em;
	letter-spacing: .5em;
	font-size: .9rem;
	padding: 0 1em;
}

.sec7-cont1 img{
	top: -5em;
	position: relative;
	z-index: 1;
	width: 90%;
	height: auto;
	transform: translateX(7%);
  	transition: all .8s ease 0s;
  	opacity: 0;
}

.sec7-cont1 img._active{
	transform: translateX(0); 
	opacity: 1;
}


.sec7-teh button{
	cursor: pointer;
	border:none;
	font-size: 1.2em;
	padding:1em 3em;
	background-color: white;
	border-radius: 2em;
	color: #B0A885;
}


/*SECTION8*/
.forma{
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100vw;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: fixed;
	z-index: 20;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity .4s, visibility .4s;
	overflow-y: auto;
}

.forma.open{
	visibility: visible;
	opacity: 1;
}



.forma-teh{
	box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 15%);
	margin:2em 2em ;
	transform: scale(0);
	transition: .8s;
	padding: 3em;
	width: 50%;
	background-color: #fff;
	border-radius: 2em;
	position: relative;
	display: flex;
	justify-content: center;
}

.forma-conts{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forma.open .forma-teh{
	transform: scale(1.0);
}

.forma-btn-close{
	width: 3%;
	height: 3%;
	position: absolute;
	top: 3%;
	right: 2%;
	cursor: pointer;
	transition: .3s;
}

.forma-btn-close:hover{
	transform: scale(1.2);
	transition: 0.3s;

}

.forma-conts form{
	width: 45%;

}

.forma-conts form h2{
	margin-bottom: 0.6em;
}

.forma-conts form label{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3rem;
}

.sec8-input1{
	width: 100%;
	margin: 1em 0;
	border: none;
	border-bottom: 2px solid black;
	padding: 1em 1em;
	font-size:1em;
}

.forma-conts form textarea{
	height: 30%;
	width: 100%;
	margin: 1em 0;
	border: none;
	border-bottom: 2px solid black;
	padding: 1em 1em;
	font-size:1em;
}
.forma-conts form button{
	margin-top: 1em;
	width: 100%;
	cursor: pointer;
	border:none;
	font-size: 1.2em;
	padding:.5em 0;
	background-color: #B0A885;
	border-radius: 2em;
	color: white;
}

.forma-conts img{
	width: 48%;
	height: 500px;
}

/*ADAPTIVNOST*/
@media (max-width: 1441px){
	.forma-teh{
		width: 70%;
	}
}
@media (max-width: 1100px){
	.obl-teh{
		top: 0;
		height: 100vh;
	}
	.obl-pol2 h1{
		font-size: 2.8rem;
		width: 90%;
		text-align: center;
		margin: auto;
	}
	.obl-pol2 h5{
		font-size: 1.6rem;
		width: 100%;
		text-align: center;
	}
	.obl-pol2{
		width: 60%;
		left: 18.5%;
		bottom: 5%;
	}
	.obl-foto{
		width: 95%;
		left: 2.5%;
	}
	.obl-pol1{
		width: 100%;
	}
	.sec1-card2{
		overflow-wrap: break-word;
	}
	.sec7-teh header p{
		width: 90%;
	}
	.obl-teh h2{
		width: 100%;
	}
	.sec5-text1 button{
		padding: 1em 2em;
	}
	.forma-conts{
		justify-content: center;
	}
	.forma-conts img{
		display: none;
	}
	
	.forma-conts form {
    	width: 90%;
	}
	.sec8-input1{
		width: 95%;
	}
	.forma-conts form textarea{
		width: 95%;
	}
	.forma-btn-close{
		right: 4%;
	}
	.obl-pol2{
		transform: translateX(24%);
	}
}
@media (max-width: 920px){
	:root{
		font-size: 14px;
	}
	.forma-btn-close{
		right: 5%;
		width: 4%;
		height: 4%;
	}
	.obl-pol2 h1{
		width: 100%;
	}
	.sec1-teh{
		flex-wrap: wrap;
	}
	.sec1-card1{
		width: 45%;
		margin-bottom: 2em;
	}
	.sec1-card2{
		width: 45%;
	}
	.sec2-cont1{
		margin: auto;
		flex-wrap: wrap;
		width: 90%;
		align-items: center;
	}
	.sec2-cont2{
		margin: auto;
		flex-wrap: wrap;
		width: 90%;
		align-items: center;
	}
	.sec2-cont1 .sec2-text1{
		width: 40%;
		height: 244px;
		align-items: center;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	.sec2-cont1 .sec2-text2{
		width: 70%;
		height: 200px;
		align-items: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin:2em 15% 2em;
	} 
	.sec2-cont2 .sec2-text1{
		width: 70%;
		height: 200px;
		align-items: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin:2em 15% 4em;
	}
	.sec2-cont2 .sec2-text2{
		width: 40%;
		height: 244px;
		align-items: center;
		display: flex;
		align-items: center;
		justify-content: center;
	} 

	.sec4-teh{
		height: 400px;
	}
	.sec2-teh img{
		width: 45%;
		height: 300px;
	}
	.sec3-text1 h2{
		font-size: 2.4rem;
	}
	.sec4-teh img{
		height: 90%;
	}
	.sec4-teh img._active{
	transform: translateY(10%);
	opacity: 1;
	}
	.sec4-pol1{
		height: 50%;
		top: 60%;
	}
	.sec4-pol2{
		transform: translateY(100%);
	}
	.sec4-pol2._active{
		transform: translateY(30%);
	}
	.sec4-pol2 h2{
		width: 100%;
		font-size: 2.6rem;
	}
	.sec5-thag h2{
		font-size: 2.6rem;
	}
}
@media (max-width: 767px){
	.obl-teh{
		height: 100vh;
	}
	.obl-pol2 h1{
		font-size: 2.4rem;
	}
	h2{
		font-size: 2.5rem;
	}
	.obl-foto{
		transform: translateY(0);
		width: 100%;
		height: 100vh;
		left: 0;
	}
	.obl-foto._active{
		transform: translateY(0);
		top: 0;
	}
	.obl-pol1{
		transform: translateX(0%);
		opacity: 1;
	}
	.obl-pol2{
		padding: 1em 0 1em ;
		width: 100%;
		left: 0;
		transform: translateX(0%);
		opacity: 1;
		top: 0;
		bottom: auto;
	}
	.sec1-card1{
		width: 100%;
		margin-bottom: 2em;
	}
	.sec1-card2{
		width: 100%;
		margin-bottom: 2em;
	}
	.sec2-cont1 .sec2-text1{
		width: 100%;
		margin-bottom: 2em;
	}
	.sec2-cont1 .sec2-text2{
		width: 100%;
		margin:0 0 2em 0;
	} 
	.sec2-cont2 .sec2-text1{
		width: 100%;
		margin: 0 0 2em 0;
	}
	.sec2-cont2 .sec2-text2{
		width: 100%;
		margin-bottom: 2em;
	} 
	.sec2-teh img{
		width: 100%;
		height: 100%;
		margin-bottom: 2em;
	}
	.sec3-teh{
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 1em;
	}
	.sec3-text1{
		width: 100%;
		margin-bottom: 2em;
	}
	.sec3-text2{
		width: 110%;
		margin-bottom: 2em;
	}
	.section4{
		display: none;
	}
	.sec5-teh{
		justify-content: center;
	}
	.sec5-teh img{
		width: 100%;
	}
	.sec5-fotos{
		display: none;
	}
	.sec5-thag{
		width: 100%;

	}
	.sec5-text1{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}
	.sec6-conts{
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.sec6-cont1{
		width: 100%;
		text-align: center;
	}
	.sec6-cont2{
		width: 100%;
		text-align: center;
	}
	.sec6-teh button{
		display: none;
	}
	.sec7-cards{
		display: none;
	}
	.sec7-cont1 img{
		display: none;
	}
	.sec7-teh{
		height: auto;
	}
	html{overflow-wrap: normal;}

	.forma-teh{
		padding: 1em;
	}
	.sec8-input1{
		width: 89%;
	}
	.forma-conts form textarea{
		width: 89%;
	}
	.forma-conts form button{
		border-radius: 1em;
	}
	.sec7-checkbox{
		margin-left: 1em;
	}
	.forma-conts form h2{
		width: 90%;
		font-size: 2.4rem;
	}
	.forma-btn-close{
		width: 6%;
		height: 6%;
	}
}